@model Reports.Core.Entities.Problem

@{
    ViewData["Title"] = Model.Title;
}

<div>
    <div style="display: flex; justify-content: space-between; margin-bottom: 0.5cm">
        <div>
            <h4 class="display-6">@Model.Title</h4>
        </div>
        <div style="margin-top: auto; margin-bottom: auto;">
            <a class="display-6 btn btn-primary" asp-area="" asp-controller="Problems" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
    <div style="display:flex; justify-content: space-between; margin-bottom: 0.5cm;">
        <div>
            <span>Created: @Model.Created</span><br/>
            <span>Updated: @Model.Updated</span>
        </div>
        <div>
            <span>Executor: <partial name="_PersonLink" model="@Model.Executor"/></span><br/>
            <span>Author: <partial name="_PersonLink" model="Model.Author"/></span>
        </div>
        <span>State: @Model.State</span>
    </div>
    <div id="content">@Model.Content</div>
    <script>
        {
            let el = document.getElementById("content");
            el.innerHTML = el.innerHTML.replaceAll("\n", "<br/>");
        }
    </script>
</div>